button {
    width: 60px;
    height: 60px;
    border-radius: 80px;   
    border-style: hidden;
    margin: 5px 5px 0 0;
    /* transition: all 1s cubic-bezier(.215, .61, .355, 1); */
}

.operazione {
    background-color:  hwb(290 67% 0%);
}

.cancella {
    background-color: #bc89c5;
}

.uguale{
    background-color:   rgb(209, 88, 209);
}

input {
    width: 245px;
    height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px;
}

body {
    display: flex; 
    align-items: center;
    flex-direction: column;
} 
  

/* button:hover{
    scale: 1.1;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
} */

/* button:active{
    scale: 0.9;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
} */